#git ignore
*.hg*
bin*/
lib*/
gen*/
build*/
Debug*/
Release*/
ipch/
xcuserdata/
_SLN/
_WORKSPACE/
*.DS_Store
*.ipch
*.db
*.opendb
*.sdf
*.opensdf
*.ncb
*.suo
*.user
*.aps
*.apk
*.ap_
*.dex
*.class
*.classpath
*.project
*.idea
*.gradle
local.properties
Thumbs.db